<h1>User List</h1>

<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Creation Date</th>
        <th>Active</th>
        <th></th>
        <th></th>
    </tr>
    <tr *ngFor="let user of getUsersForPage()">
        <td>{{ user.userId }}</td>
        <td>{{ user.username }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.creationDate }}</td>
        <td>{{ user.isActive }}</td>
        <td>
            <a [routerLink]="['/users', user.userId, 'edit']">Edit</a>
        </td>
        <td>
            <button (click)="deleteUser(user)">Delete</button>
        </td>
    </tr>
</table>

<button (click)="goToAddUser()">Add User</button>

<div>
    <button [disabled]="currentPage === 1" (click)="changePage(-1)">Previous</button>
    <span>Page {{ currentPage }}</span>
    <button [disabled]="currentPage === totalPages" (click)="changePage(1)">Next</button>
</div>