<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css">
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
<div class="container-fluid p-0 header m-0">
    <nav class="navbar navbar-dark px-4 py-0 ">
        <div class="container-fluid d-flex justify-content-between align-items-center header-container">
            <a (click)="newMessage()" class="lg-dark-bg">
                <i class='bx bx-menu border rounded'></i>
            </a>
            <p class="fs-3 fw-semibold " id="navbar-text">hBurak Media / Admin Panel</p>
            <a (click)="navigateToGitHub()" class="lg-dark-bg d-flex justify-content-center align-items-center gap-2">
                <i class="devicon-github-original"></i>
            </a>
        </div>
    </nav>
</div>