<header class="flex justify-center items-center m-3 p-1 bg-white rounded">
    <app-button text="Main Page" textColor="text-white" bgColor="bg-cyan-950" [routerLink]="['']"></app-button>
    <app-button text="Users" textColor="text-white" bgColor="bg-cyan-950" [routerLink]="['users']"></app-button>
    <app-button text="Categories" textColor="text-white" bgColor="bg-cyan-950"
        [routerLink]="['categories']"></app-button>
    <app-button text="Posts" textColor="text-white" bgColor="bg-cyan-950" [routerLink]="['posts']"></app-button>
    <app-button text="Comments" textColor="text-white" bgColor="bg-cyan-950" [routerLink]="['comments']"></app-button>
</header>